.g-setting {
  opacity: 0;
  background: rgba(0,0,0,.6);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transform: translateZ(1px);

  pointer-events: none;
  transition: all .4s;

  .m-user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    .m-input {
      display: flex;
      margin: auto;
      align-items: center;
      background: white;
      width: 300px;
      height: 35px;
      line-height: 35px;
      color: black;
      font-size: 16px;
      font-weight: bold;
      .u-input-prefix {
        width: 162px;
        text-align: left;
        padding-left: 8px;
        box-sizing: border-box;
      }
      .u-username {
        display: block;
        width: 128px;
        -webkit-appearance: none;
        height: 35px;
        text-align: left;
        font-size: 16px;
        box-sizing: border-box;
        cursor: text;
      }
    }
    .u-btn {
      display: inline-block;
      -webkit-appearance: none;
      cursor: pointer;

      margin: 12px 6px 0;
      font-size: 14px;
      line-height: 1.499;
      height: 32px;
      min-width: 90px;
      padding: 0 18px;
      border-radius: 4px;
      user-select: auto !important;
      box-sizing: border-box;
    }
    .u-submit {
      background: #B2CE7D;
      color: white;
    }
    .u-cancel {
      background: white;
      color: #B2CE7D;
    }
  }
}