@import './base.scss';
@import './main.scss';
@import './setting.scss';

html {
  font-family: PingFangSC-Regular, sans-serif;
  background: #ececec;
  width: 420px;
  box-sizing: border-box;
  overflow: hidden;
  * {
    cursor: default;
  }
  body {
    position: relative;
    &.f-setting {
      .g-setting {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}